@font-face {
    font-family: 'Linea';
    src:    url('fonts/Linea.eot?vvuoy7');
    src:    url('fonts/Linea.eot?vvuoy7#iefix') format('embedded-opentype'),
        url('fonts/Linea.ttf?vvuoy7') format('truetype'),
        url('fonts/Linea.woff?vvuoy7') format('woff'),
        url('fonts/Linea.svg?vvuoy7#Linea') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="linea_"], [class*=" linea_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Linea' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.linea_basic_accelerator:before {
    content: "\e000";
}
.linea_basic_alarm:before {
    content: "\e001";
}
.linea_basic_anchor:before {
    content: "\e002";
}
.linea_basic_anticlockwise:before {
    content: "\e003";
}
.linea_basic_archive_full:before {
    content: "\e004";
}
.linea_basic_archive:before {
    content: "\e005";
}
.linea_basic_ban:before {
    content: "\e006";
}
.linea_basic_battery_charge:before {
    content: "\e007";
}
.linea_basic_battery_empty:before {
    content: "\e008";
}
.linea_basic_battery_full:before {
    content: "\e009";
}
.linea_basic_battery_half:before {
    content: "\e00a";
}
.linea_basic_bolt:before {
    content: "\e00b";
}
.linea_basic_book_pen:before {
    content: "\e00c";
}
.linea_basic_book_pencil:before {
    content: "\e00d";
}
.linea_basic_book:before {
    content: "\e00e";
}
.linea_basic_bookmark:before {
    content: "\e00f";
}
.linea_basic_calculator:before {
    content: "\e010";
}
.linea_basic_calendar:before {
    content: "\e011";
}
.linea_basic_cards_diamonds:before {
    content: "\e012";
}
.linea_basic_cards_hearts:before {
    content: "\e013";
}
.linea_basic_case:before {
    content: "\e014";
}
.linea_basic_chronometer:before {
    content: "\e015";
}
.linea_basic_clessidre:before {
    content: "\e016";
}
.linea_basic_clock:before {
    content: "\e017";
}
.linea_basic_clockwise:before {
    content: "\e018";
}
.linea_basic_cloud:before {
    content: "\e019";
}
.linea_basic_clubs:before {
    content: "\e01a";
}
.linea_basic_compass:before {
    content: "\e01b";
}
.linea_basic_cup:before {
    content: "\e01c";
}
.linea_basic_diamonds:before {
    content: "\e01d";
}
.linea_basic_display:before {
    content: "\e01e";
}
.linea_basic_download:before {
    content: "\e01f";
}
.linea_basic_exclamation:before {
    content: "\e020";
}
.linea_basic_eye_closed:before {
    content: "\e021";
}
.linea_basic_eye:before {
    content: "\e022";
}
.linea_basic_female:before {
    content: "\e023";
}
.linea_basic_flag1:before {
    content: "\e024";
}
.linea_basic_flag2:before {
    content: "\e025";
}
.linea_basic_floppydisk:before {
    content: "\e026";
}
.linea_basic_folder_multiple:before {
    content: "\e027";
}
.linea_basic_folder:before {
    content: "\e028";
}
.linea_basic_gear:before {
    content: "\e029";
}
.linea_basic_geolocalize-01:before {
    content: "\e02a";
}
.linea_basic_geolocalize-05:before {
    content: "\e02b";
}
.linea_basic_globe:before {
    content: "\e02c";
}
.linea_basic_gunsight:before {
    content: "\e02d";
}
.linea_basic_hammer:before {
    content: "\e02e";
}
.linea_basic_headset:before {
    content: "\e02f";
}
.linea_basic_heart_broken:before {
    content: "\e030";
}
.linea_basic_heart:before {
    content: "\e031";
}
.linea_basic_helm:before {
    content: "\e032";
}
.linea_basic_home:before {
    content: "\e033";
}
.linea_basic_info:before {
    content: "\e034";
}
.linea_basic_ipod:before {
    content: "\e035";
}
.linea_basic_joypad:before {
    content: "\e036";
}
.linea_basic_key:before {
    content: "\e037";
}
.linea_basic_keyboard:before {
    content: "\e038";
}
.linea_basic_laptop:before {
    content: "\e039";
}
.linea_basic_life_buoy:before {
    content: "\e03a";
}
.linea_basic_lightbulb:before {
    content: "\e03b";
}
.linea_basic_link:before {
    content: "\e03c";
}
.linea_basic_lock_open:before {
    content: "\e03d";
}
.linea_basic_lock:before {
    content: "\e03e";
}
.linea_basic_magic_mouse:before {
    content: "\e03f";
}
.linea_basic_magnifier_minus:before {
    content: "\e040";
}
.linea_basic_magnifier_plus:before {
    content: "\e041";
}
.linea_basic_magnifier:before {
    content: "\e042";
}
.linea_basic_mail_multiple:before {
    content: "\e043";
}
.linea_basic_mail_open_text:before {
    content: "\e044";
}
.linea_basic_mail_open:before {
    content: "\e045";
}
.linea_basic_mail:before {
    content: "\e046";
}
.linea_basic_male:before {
    content: "\e047";
}
.linea_basic_map:before {
    content: "\e048";
}
.linea_basic_message_multiple:before {
    content: "\e049";
}
.linea_basic_message_txt:before {
    content: "\e04a";
}
.linea_basic_message:before {
    content: "\e04b";
}
.linea_basic_mixer2:before {
    content: "\e04c";
}
.linea_basic_mouse:before {
    content: "\e04d";
}
.linea_basic_notebook_pen:before {
    content: "\e04e";
}
.linea_basic_notebook_pencil:before {
    content: "\e04f";
}
.linea_basic_notebook:before {
    content: "\e050";
}
.linea_basic_paperplane:before {
    content: "\e051";
}
.linea_basic_pencil_ruler_pen:before {
    content: "\e052";
}
.linea_basic_pencil_ruler:before {
    content: "\e053";
}
.linea_basic_photo:before {
    content: "\e054";
}
.linea_basic_picture_multiple:before {
    content: "\e055";
}
.linea_basic_picture:before {
    content: "\e056";
}
.linea_basic_pin1:before {
    content: "\e057";
}
.linea_basic_pin2:before {
    content: "\e058";
}
.linea_basic_postcard_multiple:before {
    content: "\e059";
}
.linea_basic_postcard:before {
    content: "\e05a";
}
.linea_basic_printer:before {
    content: "\e05b";
}
.linea_basic_question:before {
    content: "\e05c";
}
.linea_basic_rss:before {
    content: "\e05d";
}
.linea_basic_server_cloud:before {
    content: "\e05e";
}
.linea_basic_server_download:before {
    content: "\e05f";
}
.linea_basic_server_upload:before {
    content: "\e060";
}
.linea_basic_server:before {
    content: "\e061";
}
.linea_basic_server2:before {
    content: "\e062";
}
.linea_basic_settings:before {
    content: "\e063";
}
.linea_basic_share:before {
    content: "\e064";
}
.linea_basic_sheet_multiple:before {
    content: "\e065";
}
.linea_basic_sheet_pen:before {
    content: "\e066";
}
.linea_basic_sheet_pencil:before {
    content: "\e067";
}
.linea_basic_sheet_txt:before {
    content: "\e068";
}
.linea_basic_sheet:before {
    content: "\e069";
}
.linea_basic_signs:before {
    content: "\e06a";
}
.linea_basic_smartphone:before {
    content: "\e06b";
}
.linea_basic_spades:before {
    content: "\e06c";
}
.linea_basic_spread_bookmark:before {
    content: "\e06d";
}
.linea_basic_spread_text_bookmark:before {
    content: "\e06e";
}
.linea_basic_spread_text:before {
    content: "\e06f";
}
.linea_basic_spread:before {
    content: "\e070";
}
.linea_basic_star:before {
    content: "\e071";
}
.linea_basic_tablet:before {
    content: "\e072";
}
.linea_basic_target:before {
    content: "\e073";
}
.linea_basic_todo_pen:before {
    content: "\e074";
}
.linea_basic_todo_pencil:before {
    content: "\e075";
}
.linea_basic_todo_txt:before {
    content: "\e076";
}
.linea_basic_todo:before {
    content: "\e077";
}
.linea_basic_todolist_pen:before {
    content: "\e078";
}
.linea_basic_todolist_pencil:before {
    content: "\e079";
}
.linea_basic_trashcan_full:before {
    content: "\e07a";
}
.linea_basic_trashcan_refresh:before {
    content: "\e07b";
}
.linea_basic_trashcan_remove:before {
    content: "\e07c";
}
.linea_basic_trashcan:before {
    content: "\e07d";
}
.linea_basic_upload:before {
    content: "\e07e";
}
.linea_basic_usb:before {
    content: "\e07f";
}
.linea_basic_video:before {
    content: "\e080";
}
.linea_basic_watch:before {
    content: "\e081";
}
.linea_basic_webpage_img_txt:before {
    content: "\e082";
}
.linea_basic_webpage_multiple:before {
    content: "\e083";
}
.linea_basic_webpage_txt:before {
    content: "\e084";
}
.linea_basic_webpage:before {
    content: "\e085";
}
.linea_basic_world:before {
    content: "\e086";
}
.linea_basic_elaboration_bookmark_checck:before {
    content: "\e987";
}
.linea_basic_elaboration_bookmark_minus:before {
    content: "\e988";
}
.linea_basic_elaboration_bookmark_plus:before {
    content: "\e989";
}
.linea_basic_elaboration_bookmark_remove:before {
    content: "\e98a";
}
.linea_basic_elaboration_briefcase_check:before {
    content: "\e98b";
}
.linea_basic_elaboration_briefcase_download:before {
    content: "\e98c";
}
.linea_basic_elaboration_briefcase_flagged:before {
    content: "\e98d";
}
.linea_basic_elaboration_briefcase_minus:before {
    content: "\e98e";
}
.linea_basic_elaboration_briefcase_plus:before {
    content: "\e98f";
}
.linea_basic_elaboration_briefcase_refresh:before {
    content: "\e990";
}
.linea_basic_elaboration_briefcase_remove:before {
    content: "\e991";
}
.linea_basic_elaboration_briefcase_search:before {
    content: "\e992";
}
.linea_basic_elaboration_briefcase_star:before {
    content: "\e993";
}
.linea_basic_elaboration_briefcase_upload:before {
    content: "\e994";
}
.linea_basic_elaboration_browser_check:before {
    content: "\e995";
}
.linea_basic_elaboration_browser_download:before {
    content: "\e996";
}
.linea_basic_elaboration_browser_minus:before {
    content: "\e997";
}
.linea_basic_elaboration_browser_plus:before {
    content: "\e998";
}
.linea_basic_elaboration_browser_refresh:before {
    content: "\e999";
}
.linea_basic_elaboration_browser_remove:before {
    content: "\e99a";
}
.linea_basic_elaboration_browser_search:before {
    content: "\e99b";
}
.linea_basic_elaboration_browser_star:before {
    content: "\e99c";
}
.linea_basic_elaboration_browser_upload:before {
    content: "\e99d";
}
.linea_basic_elaboration_calendar_check:before {
    content: "\e99e";
}
.linea_basic_elaboration_calendar_cloud:before {
    content: "\e99f";
}
.linea_basic_elaboration_calendar_download:before {
    content: "\e9a0";
}
.linea_basic_elaboration_calendar_empty:before {
    content: "\e9a1";
}
.linea_basic_elaboration_calendar_flagged:before {
    content: "\e9a2";
}
.linea_basic_elaboration_calendar_heart:before {
    content: "\e9a3";
}
.linea_basic_elaboration_calendar_minus:before {
    content: "\e9a4";
}
.linea_basic_elaboration_calendar_next:before {
    content: "\e9a5";
}
.linea_basic_elaboration_calendar_noaccess:before {
    content: "\e9a6";
}
.linea_basic_elaboration_calendar_pencil:before {
    content: "\e9a7";
}
.linea_basic_elaboration_calendar_plus:before {
    content: "\e9a8";
}
.linea_basic_elaboration_calendar_previous:before {
    content: "\e9a9";
}
.linea_basic_elaboration_calendar_refresh:before {
    content: "\e9aa";
}
.linea_basic_elaboration_calendar_remove:before {
    content: "\e9ab";
}
.linea_basic_elaboration_calendar_search:before {
    content: "\e9ac";
}
.linea_basic_elaboration_calendar_star:before {
    content: "\e9ad";
}
.linea_basic_elaboration_calendar_upload:before {
    content: "\e9ae";
}
.linea_basic_elaboration_cloud_check:before {
    content: "\e9af";
}
.linea_basic_elaboration_cloud_download:before {
    content: "\e9b0";
}
.linea_basic_elaboration_cloud_minus:before {
    content: "\e9b1";
}
.linea_basic_elaboration_cloud_noaccess:before {
    content: "\e9b2";
}
.linea_basic_elaboration_cloud_plus:before {
    content: "\e9b3";
}
.linea_basic_elaboration_cloud_refresh:before {
    content: "\e9b4";
}
.linea_basic_elaboration_cloud_remove:before {
    content: "\e9b5";
}
.linea_basic_elaboration_cloud_search:before {
    content: "\e9b6";
}
.linea_basic_elaboration_cloud_upload:before {
    content: "\e9b7";
}
.linea_basic_elaboration_document_check:before {
    content: "\e9b8";
}
.linea_basic_elaboration_document_cloud:before {
    content: "\e9b9";
}
.linea_basic_elaboration_document_download:before {
    content: "\e9ba";
}
.linea_basic_elaboration_document_flagged:before {
    content: "\e9bb";
}
.linea_basic_elaboration_document_graph:before {
    content: "\e9bc";
}
.linea_basic_elaboration_document_heart:before {
    content: "\e9bd";
}
.linea_basic_elaboration_document_minus:before {
    content: "\e9be";
}
.linea_basic_elaboration_document_next:before {
    content: "\e9bf";
}
.linea_basic_elaboration_document_noaccess:before {
    content: "\e9c0";
}
.linea_basic_elaboration_document_note:before {
    content: "\e9c1";
}
.linea_basic_elaboration_document_pencil:before {
    content: "\e9c2";
}
.linea_basic_elaboration_document_picture:before {
    content: "\e9c3";
}
.linea_basic_elaboration_document_plus:before {
    content: "\e9c4";
}
.linea_basic_elaboration_document_previous:before {
    content: "\e9c5";
}
.linea_basic_elaboration_document_refresh:before {
    content: "\e9c6";
}
.linea_basic_elaboration_document_remove:before {
    content: "\e9c7";
}
.linea_basic_elaboration_document_search:before {
    content: "\e9c8";
}
.linea_basic_elaboration_document_star:before {
    content: "\e9c9";
}
.linea_basic_elaboration_document_upload:before {
    content: "\e9ca";
}
.linea_basic_elaboration_folder_check:before {
    content: "\e9cb";
}
.linea_basic_elaboration_folder_cloud:before {
    content: "\e9cc";
}
.linea_basic_elaboration_folder_document:before {
    content: "\e9cd";
}
.linea_basic_elaboration_folder_download:before {
    content: "\e9ce";
}
.linea_basic_elaboration_folder_flagged:before {
    content: "\e9cf";
}
.linea_basic_elaboration_folder_graph:before {
    content: "\e9d0";
}
.linea_basic_elaboration_folder_heart:before {
    content: "\e9d1";
}
.linea_basic_elaboration_folder_minus:before {
    content: "\e9d2";
}
.linea_basic_elaboration_folder_next:before {
    content: "\e9d3";
}
.linea_basic_elaboration_folder_noaccess:before {
    content: "\e9d4";
}
.linea_basic_elaboration_folder_note:before {
    content: "\e9d5";
}
.linea_basic_elaboration_folder_pencil:before {
    content: "\e9d6";
}
.linea_basic_elaboration_folder_picture:before {
    content: "\e9d7";
}
.linea_basic_elaboration_folder_plus:before {
    content: "\e9d8";
}
.linea_basic_elaboration_folder_previous:before {
    content: "\e9d9";
}
.linea_basic_elaboration_folder_refresh:before {
    content: "\e9da";
}
.linea_basic_elaboration_folder_remove:before {
    content: "\e9db";
}
.linea_basic_elaboration_folder_search:before {
    content: "\e9dc";
}
.linea_basic_elaboration_folder_star:before {
    content: "\e9dd";
}
.linea_basic_elaboration_folder_upload:before {
    content: "\e9de";
}
.linea_basic_elaboration_mail_check:before {
    content: "\e9df";
}
.linea_basic_elaboration_mail_cloud:before {
    content: "\e9e0";
}
.linea_basic_elaboration_mail_document:before {
    content: "\e9e1";
}
.linea_basic_elaboration_mail_download:before {
    content: "\e9e2";
}
.linea_basic_elaboration_mail_flagged:before {
    content: "\e9e3";
}
.linea_basic_elaboration_mail_heart:before {
    content: "\e9e4";
}
.linea_basic_elaboration_mail_next:before {
    content: "\e9e5";
}
.linea_basic_elaboration_mail_noaccess:before {
    content: "\e9e6";
}
.linea_basic_elaboration_mail_note:before {
    content: "\e9e7";
}
.linea_basic_elaboration_mail_pencil:before {
    content: "\e9e8";
}
.linea_basic_elaboration_mail_picture:before {
    content: "\e9e9";
}
.linea_basic_elaboration_mail_previous:before {
    content: "\e9ea";
}
.linea_basic_elaboration_mail_refresh:before {
    content: "\e9eb";
}
.linea_basic_elaboration_mail_remove:before {
    content: "\e9ec";
}
.linea_basic_elaboration_mail_search:before {
    content: "\e9ed";
}
.linea_basic_elaboration_mail_star:before {
    content: "\e9ee";
}
.linea_basic_elaboration_mail_upload:before {
    content: "\e9ef";
}
.linea_basic_elaboration_message_check:before {
    content: "\e9f0";
}
.linea_basic_elaboration_message_dots:before {
    content: "\e9f1";
}
.linea_basic_elaboration_message_happy:before {
    content: "\e9f2";
}
.linea_basic_elaboration_message_heart:before {
    content: "\e9f3";
}
.linea_basic_elaboration_message_minus:before {
    content: "\e9f4";
}
.linea_basic_elaboration_message_note:before {
    content: "\e9f5";
}
.linea_basic_elaboration_message_plus:before {
    content: "\e9f6";
}
.linea_basic_elaboration_message_refresh:before {
    content: "\e9f7";
}
.linea_basic_elaboration_message_remove:before {
    content: "\e9f8";
}
.linea_basic_elaboration_message_sad:before {
    content: "\e9f9";
}
.linea_basic_elaboration_smartphone_cloud:before {
    content: "\e9fa";
}
.linea_basic_elaboration_smartphone_heart:before {
    content: "\e9fb";
}
.linea_basic_elaboration_smartphone_noaccess:before {
    content: "\e9fc";
}
.linea_basic_elaboration_smartphone_note:before {
    content: "\e9fd";
}
.linea_basic_elaboration_smartphone_pencil:before {
    content: "\e9fe";
}
.linea_basic_elaboration_smartphone_picture:before {
    content: "\e9ff";
}
.linea_basic_elaboration_smartphone_refresh:before {
    content: "\ea00";
}
.linea_basic_elaboration_smartphone_search:before {
    content: "\ea01";
}
.linea_basic_elaboration_tablet_cloud:before {
    content: "\ea02";
}
.linea_basic_elaboration_tablet_heart:before {
    content: "\ea03";
}
.linea_basic_elaboration_tablet_noaccess:before {
    content: "\ea04";
}
.linea_basic_elaboration_tablet_note:before {
    content: "\ea05";
}
.linea_basic_elaboration_tablet_pencil:before {
    content: "\ea06";
}
.linea_basic_elaboration_tablet_picture:before {
    content: "\ea07";
}
.linea_basic_elaboration_tablet_refresh:before {
    content: "\ea08";
}
.linea_basic_elaboration_tablet_search:before {
    content: "\ea09";
}
.linea_basic_elaboration_todolist_2:before {
    content: "\ea0a";
}
.linea_basic_elaboration_todolist_check:before {
    content: "\ea0b";
}
.linea_basic_elaboration_todolist_cloud:before {
    content: "\ea0c";
}
.linea_basic_elaboration_todolist_download:before {
    content: "\ea0d";
}
.linea_basic_elaboration_todolist_flagged:before {
    content: "\ea0e";
}
.linea_basic_elaboration_todolist_minus:before {
    content: "\ea0f";
}
.linea_basic_elaboration_todolist_noaccess:before {
    content: "\ea10";
}
.linea_basic_elaboration_todolist_pencil:before {
    content: "\ea11";
}
.linea_basic_elaboration_todolist_plus:before {
    content: "\ea12";
}
.linea_basic_elaboration_todolist_refresh:before {
    content: "\ea13";
}
.linea_basic_elaboration_todolist_remove:before {
    content: "\ea14";
}
.linea_basic_elaboration_todolist_search:before {
    content: "\ea15";
}
.linea_basic_elaboration_todolist_star:before {
    content: "\ea16";
}
.linea_basic_elaboration_todolist_upload:before {
    content: "\ea17";
}
.linea_arrows_anticlockwise_dashed:before {
    content: "\ea18";
}
.linea_arrows_anticlockwise:before {
    content: "\ea19";
}
.linea_arrows_button_down:before {
    content: "\ea1a";
}
.linea_arrows_button_off:before {
    content: "\ea1b";
}
.linea_arrows_button_on:before {
    content: "\ea1c";
}
.linea_arrows_button_up:before {
    content: "\ea1d";
}
.linea_arrows_check:before {
    content: "\ea1e";
}
.linea_arrows_circle_check:before {
    content: "\ea1f";
}
.linea_arrows_circle_down:before {
    content: "\ea20";
}
.linea_arrows_circle_downleft:before {
    content: "\ea21";
}
.linea_arrows_circle_downright:before {
    content: "\ea22";
}
.linea_arrows_circle_left:before {
    content: "\ea23";
}
.linea_arrows_circle_minus:before {
    content: "\ea24";
}
.linea_arrows_circle_plus:before {
    content: "\ea25";
}
.linea_arrows_circle_remove:before {
    content: "\ea26";
}
.linea_arrows_circle_right:before {
    content: "\ea27";
}
.linea_arrows_circle_up:before {
    content: "\ea28";
}
.linea_arrows_circle_upleft:before {
    content: "\ea29";
}
.linea_arrows_circle_upright:before {
    content: "\ea2a";
}
.linea_arrows_clockwise_dashed:before {
    content: "\ea2b";
}
.linea_arrows_clockwise:before {
    content: "\ea2c";
}
.linea_arrows_compress:before {
    content: "\ea2d";
}
.linea_arrows_deny:before {
    content: "\ea2e";
}
.linea_arrows_diagonal:before {
    content: "\ea2f";
}
.linea_arrows_diagonal2:before {
    content: "\ea30";
}
.linea_arrows_down_double-34:before {
    content: "\ea31";
}
.linea_arrows_down:before {
    content: "\ea32";
}
.linea_arrows_downleft:before {
    content: "\ea33";
}
.linea_arrows_downright:before {
    content: "\ea34";
}
.linea_arrows_drag_down_dashed:before {
    content: "\ea35";
}
.linea_arrows_drag_down:before {
    content: "\ea36";
}
.linea_arrows_drag_horiz:before {
    content: "\ea37";
}
.linea_arrows_drag_left_dashed:before {
    content: "\ea38";
}
.linea_arrows_drag_left:before {
    content: "\ea39";
}
.linea_arrows_drag_right_dashed:before {
    content: "\ea3a";
}
.linea_arrows_drag_right:before {
    content: "\ea3b";
}
.linea_arrows_drag_up_dashed:before {
    content: "\ea3c";
}
.linea_arrows_drag_up:before {
    content: "\ea3d";
}
.linea_arrows_drag_vert:before {
    content: "\ea3e";
}
.linea_arrows_exclamation:before {
    content: "\ea3f";
}
.linea_arrows_expand_diagonal1:before {
    content: "\ea40";
}
.linea_arrows_expand_horizontal1:before {
    content: "\ea41";
}
.linea_arrows_expand_vertical1:before {
    content: "\ea42";
}
.linea_arrows_expand:before {
    content: "\ea43";
}
.linea_arrows_fit_horizontal:before {
    content: "\ea44";
}
.linea_arrows_fit_vertical:before {
    content: "\ea45";
}
.linea_arrows_glide_horizontal:before {
    content: "\ea46";
}
.linea_arrows_glide_vertical:before {
    content: "\ea47";
}
.linea_arrows_glide:before {
    content: "\ea48";
}
.linea_arrows_hamburger2:before {
    content: "\ea49";
}
.linea_arrows_hamburger1:before {
    content: "\ea4a";
}
.linea_arrows_horizontal:before {
    content: "\ea4b";
}
.linea_arrows_info:before {
    content: "\ea4c";
}
.linea_arrows_keyboard_alt:before {
    content: "\ea4d";
}
.linea_arrows_keyboard_cmd-29:before {
    content: "\ea4e";
}
.linea_arrows_keyboard_delete:before {
    content: "\ea4f";
}
.linea_arrows_keyboard_down-28:before {
    content: "\ea50";
}
.linea_arrows_keyboard_left:before {
    content: "\ea51";
}
.linea_arrows_keyboard_return:before {
    content: "\ea52";
}
.linea_arrows_keyboard_right:before {
    content: "\ea53";
}
.linea_arrows_keyboard_shift:before {
    content: "\ea54";
}
.linea_arrows_keyboard_tab:before {
    content: "\ea55";
}
.linea_arrows_keyboard_up:before {
    content: "\ea56";
}
.linea_arrows_left_double-32:before {
    content: "\ea57";
}
.linea_arrows_left:before {
    content: "\ea58";
}
.linea_arrows_minus:before {
    content: "\ea59";
}
.linea_arrows_move_bottom:before {
    content: "\ea5a";
}
.linea_arrows_move_left:before {
    content: "\ea5b";
}
.linea_arrows_move_right:before {
    content: "\ea5c";
}
.linea_arrows_move_top:before {
    content: "\ea5d";
}
.linea_arrows_move:before {
    content: "\ea5e";
}
.linea_arrows_move2:before {
    content: "\ea5f";
}
.linea_arrows_plus:before {
    content: "\ea60";
}
.linea_arrows_question:before {
    content: "\ea61";
}
.linea_arrows_remove:before {
    content: "\ea62";
}
.linea_arrows_right_double-31:before {
    content: "\ea63";
}
.linea_arrows_right:before {
    content: "\ea64";
}
.linea_arrows_rotate_anti_dashed:before {
    content: "\ea65";
}
.linea_arrows_rotate_anti:before {
    content: "\ea66";
}
.linea_arrows_rotate_dashed:before {
    content: "\ea67";
}
.linea_arrows_rotate:before {
    content: "\ea68";
}
.linea_arrows_shrink_diagonal1:before {
    content: "\ea69";
}
.linea_arrows_shrink_diagonal2:before {
    content: "\ea6a";
}
.linea_arrows_shrink_horizonal2:before {
    content: "\ea6b";
}
.linea_arrows_shrink_horizontal1:before {
    content: "\ea6c";
}
.linea_arrows_shrink_vertical1:before {
    content: "\ea6d";
}
.linea_arrows_shrink_vertical2:before {
    content: "\ea6e";
}
.linea_arrows_shrink:before {
    content: "\ea6f";
}
.linea_arrows_sign_down:before {
    content: "\ea70";
}
.linea_arrows_sign_left:before {
    content: "\ea71";
}
.linea_arrows_sign_right:before {
    content: "\ea72";
}
.linea_arrows_sign_up:before {
    content: "\ea73";
}
.linea_arrows_slide_down1:before {
    content: "\ea74";
}
.linea_arrows_slide_down2:before {
    content: "\ea75";
}
.linea_arrows_slide_left1:before {
    content: "\ea76";
}
.linea_arrows_slide_left2:before {
    content: "\ea77";
}
.linea_arrows_slide_right1:before {
    content: "\ea78";
}
.linea_arrows_slide_right2:before {
    content: "\ea79";
}
.linea_arrows_slide_up1:before {
    content: "\ea7a";
}
.linea_arrows_slide_up2:before {
    content: "\ea7b";
}
.linea_arrows_slim_down_dashed:before {
    content: "\ea7c";
}
.linea_arrows_slim_down:before {
    content: "\ea7d";
}
.linea_arrows_slim_left_dashed:before {
    content: "\ea7e";
}
.linea_arrows_slim_left:before {
    content: "\ea7f";
}
.linea_arrows_slim_right_dashed:before {
    content: "\ea80";
}
.linea_arrows_slim_right:before {
    content: "\ea81";
}
.linea_arrows_slim_up_dashed:before {
    content: "\ea82";
}
.linea_arrows_slim_up:before {
    content: "\ea83";
}
.linea_arrows_square_check:before {
    content: "\ea84";
}
.linea_arrows_square_down:before {
    content: "\ea85";
}
.linea_arrows_square_downleft:before {
    content: "\ea86";
}
.linea_arrows_square_downright:before {
    content: "\ea87";
}
.linea_arrows_square_left:before {
    content: "\ea88";
}
.linea_arrows_square_minus:before {
    content: "\ea89";
}
.linea_arrows_square_plus:before {
    content: "\ea8a";
}
.linea_arrows_square_remove:before {
    content: "\ea8b";
}
.linea_arrows_square_right:before {
    content: "\ea8c";
}
.linea_arrows_square_up:before {
    content: "\ea8d";
}
.linea_arrows_square_upleft:before {
    content: "\ea8e";
}
.linea_arrows_square_upright:before {
    content: "\ea8f";
}
.linea_arrows_squares:before {
    content: "\ea90";
}
.linea_arrows_stretch_diagonal1:before {
    content: "\ea91";
}
.linea_arrows_stretch_diagonal2:before {
    content: "\ea92";
}
.linea_arrows_stretch_diagonal3:before {
    content: "\ea93";
}
.linea_arrows_stretch_diagonal4:before {
    content: "\ea94";
}
.linea_arrows_stretch_horizontal1:before {
    content: "\ea95";
}
.linea_arrows_stretch_horizontal2:before {
    content: "\ea96";
}
.linea_arrows_stretch_vertical1:before {
    content: "\ea97";
}
.linea_arrows_stretch_vertical2:before {
    content: "\ea98";
}
.linea_arrows_switch_horizontal:before {
    content: "\ea99";
}
.linea_arrows_switch_vertical:before {
    content: "\ea9a";
}
.linea_arrows_up_double-33:before {
    content: "\ea9b";
}
.linea_arrows_up:before {
    content: "\ea9c";
}
.linea_arrows_upleft:before {
    content: "\ea9d";
}
.linea_arrows_upright:before {
    content: "\ea9e";
}
.linea_arrows_vertical:before {
    content: "\ea9f";
}
.linea_ecommerce_bag_check:before {
    content: "\eaa0";
}
.linea_ecommerce_bag_cloud:before {
    content: "\eaa1";
}
.linea_ecommerce_bag_download:before {
    content: "\eaa2";
}
.linea_ecommerce_bag_minus:before {
    content: "\eaa3";
}
.linea_ecommerce_bag_plus:before {
    content: "\eaa4";
}
.linea_ecommerce_bag_refresh:before {
    content: "\eaa5";
}
.linea_ecommerce_bag_remove:before {
    content: "\eaa6";
}
.linea_ecommerce_bag_search:before {
    content: "\eaa7";
}
.linea_ecommerce_bag_upload:before {
    content: "\eaa8";
}
.linea_ecommerce_bag:before {
    content: "\eaa9";
}
.linea_ecommerce_banknote:before {
    content: "\eaaa";
}
.linea_ecommerce_banknotes:before {
    content: "\eaab";
}
.linea_ecommerce_basket_check:before {
    content: "\eaac";
}
.linea_ecommerce_basket_cloud:before {
    content: "\eaad";
}
.linea_ecommerce_basket_download:before {
    content: "\eaae";
}
.linea_ecommerce_basket_minus:before {
    content: "\eaaf";
}
.linea_ecommerce_basket_plus:before {
    content: "\eab0";
}
.linea_ecommerce_basket_refresh:before {
    content: "\eab1";
}
.linea_ecommerce_basket_remove:before {
    content: "\eab2";
}
.linea_ecommerce_basket_search:before {
    content: "\eab3";
}
.linea_ecommerce_basket_upload:before {
    content: "\eab4";
}
.linea_ecommerce_basket:before {
    content: "\eab5";
}
.linea_ecommerce_bath:before {
    content: "\eab6";
}
.linea_ecommerce_cart_check:before {
    content: "\eab7";
}
.linea_ecommerce_cart_cloud:before {
    content: "\eab8";
}
.linea_ecommerce_cart_content:before {
    content: "\eab9";
}
.linea_ecommerce_cart_download:before {
    content: "\eaba";
}
.linea_ecommerce_cart_minus:before {
    content: "\eabb";
}
.linea_ecommerce_cart_plus:before {
    content: "\eabc";
}
.linea_ecommerce_cart_refresh:before {
    content: "\eabd";
}
.linea_ecommerce_cart_remove:before {
    content: "\eabe";
}
.linea_ecommerce_cart_search:before {
    content: "\eabf";
}
.linea_ecommerce_cart_upload:before {
    content: "\eac0";
}
.linea_ecommerce_cart:before {
    content: "\eac1";
}
.linea_ecommerce_cent:before {
    content: "\eac2";
}
.linea_ecommerce_colon:before {
    content: "\eac3";
}
.linea_ecommerce_creditcard:before {
    content: "\eac4";
}
.linea_ecommerce_diamond:before {
    content: "\eac5";
}
.linea_ecommerce_dollar:before {
    content: "\eac6";
}
.linea_ecommerce_euro:before {
    content: "\eac7";
}
.linea_ecommerce_franc:before {
    content: "\eac8";
}
.linea_ecommerce_gift:before {
    content: "\eac9";
}
.linea_ecommerce_graph_decrease:before {
    content: "\eaca";
}
.linea_ecommerce_graph_increase:before {
    content: "\eacb";
}
.linea_ecommerce_graph1:before {
    content: "\eacc";
}
.linea_ecommerce_graph2:before {
    content: "\eacd";
}
.linea_ecommerce_graph3:before {
    content: "\eace";
}
.linea_ecommerce_guarani:before {
    content: "\eacf";
}
.linea_ecommerce_kips:before {
    content: "\ead0";
}
.linea_ecommerce_lira:before {
    content: "\ead1";
}
.linea_ecommerce_megaphone:before {
    content: "\ead2";
}
.linea_ecommerce_money:before {
    content: "\ead3";
}
.linea_ecommerce_naira:before {
    content: "\ead4";
}
.linea_ecommerce_pesos:before {
    content: "\ead5";
}
.linea_ecommerce_pound:before {
    content: "\ead6";
}
.linea_ecommerce_receipt_bath:before {
    content: "\ead7";
}
.linea_ecommerce_receipt_cent:before {
    content: "\ead8";
}
.linea_ecommerce_receipt_dollar:before {
    content: "\ead9";
}
.linea_ecommerce_receipt_euro:before {
    content: "\eada";
}
.linea_ecommerce_receipt_franc:before {
    content: "\eadb";
}
.linea_ecommerce_receipt_guarani:before {
    content: "\eadc";
}
.linea_ecommerce_receipt_kips:before {
    content: "\eadd";
}
.linea_ecommerce_receipt_lira:before {
    content: "\eade";
}
.linea_ecommerce_receipt_naira:before {
    content: "\eadf";
}
.linea_ecommerce_receipt_pesos:before {
    content: "\eae0";
}
.linea_ecommerce_receipt_pound:before {
    content: "\eae1";
}
.linea_ecommerce_receipt_rublo:before {
    content: "\eae2";
}
.linea_ecommerce_receipt_rupee:before {
    content: "\eae3";
}
.linea_ecommerce_receipt_tugrik:before {
    content: "\eae4";
}
.linea_ecommerce_receipt_won:before {
    content: "\eae5";
}
.linea_ecommerce_receipt_yen:before {
    content: "\eae6";
}
.linea_ecommerce_receipt_yen2:before {
    content: "\eae7";
}
.linea_ecommerce_receipt:before {
    content: "\eae8";
}
.linea_ecommerce_recept_colon:before {
    content: "\eae9";
}
.linea_ecommerce_rublo:before {
    content: "\eaea";
}
.linea_ecommerce_rupee:before {
    content: "\eaeb";
}
.linea_ecommerce_safe:before {
    content: "\eaec";
}
.linea_ecommerce_sale:before {
    content: "\eaed";
}
.linea_ecommerce_sales:before {
    content: "\eaee";
}
.linea_ecommerce_ticket:before {
    content: "\eaef";
}
.linea_ecommerce_tugriks:before {
    content: "\eaf0";
}
.linea_ecommerce_wallet:before {
    content: "\eaf1";
}
.linea_ecommerce_won:before {
    content: "\eaf2";
}
.linea_ecommerce_yen:before {
    content: "\eaf3";
}
.linea_ecommerce_yen2:before {
    content: "\eaf4";
}
.linea_music_beginning_button:before {
    content: "\eaf5";
}
.linea_music_bell:before {
    content: "\eaf6";
}
.linea_music_cd:before {
    content: "\eaf7";
}
.linea_music_diapason:before {
    content: "\eaf8";
}
.linea_music_eject_button:before {
    content: "\eaf9";
}
.linea_music_end_button:before {
    content: "\eafa";
}
.linea_music_fastforward_button:before {
    content: "\eafb";
}
.linea_music_headphones:before {
    content: "\eafc";
}
.linea_music_ipod:before {
    content: "\eafd";
}
.linea_music_loudspeaker:before {
    content: "\eafe";
}
.linea_music_microphone_old:before {
    content: "\eaff";
}
.linea_music_microphone:before {
    content: "\eb00";
}
.linea_music_mixer:before {
    content: "\eb01";
}
.linea_music_mute:before {
    content: "\eb02";
}
.linea_music_note_multiple:before {
    content: "\eb03";
}
.linea_music_note_single:before {
    content: "\eb04";
}
.linea_music_pause_button:before {
    content: "\eb05";
}
.linea_music_play_button:before {
    content: "\eb06";
}
.linea_music_playlist:before {
    content: "\eb07";
}
.linea_music_radio_ghettoblaster:before {
    content: "\eb08";
}
.linea_music_radio_portable:before {
    content: "\eb09";
}
.linea_music_record:before {
    content: "\eb0a";
}
.linea_music_recordplayer:before {
    content: "\eb0b";
}
.linea_music_repeat_button:before {
    content: "\eb0c";
}
.linea_music_rewind_button:before {
    content: "\eb0d";
}
.linea_music_shuffle_button:before {
    content: "\eb0e";
}
.linea_music_stop_button:before {
    content: "\eb0f";
}
.linea_music_tape:before {
    content: "\eb10";
}
.linea_music_volume_down:before {
    content: "\eb11";
}
.linea_music_volume_up:before {
    content: "\eb12";
}
.linea_software_add_vectorpoint:before {
    content: "\eb13";
}
.linea_software_box_oval:before {
    content: "\eb14";
}
.linea_software_box_polygon:before {
    content: "\eb15";
}
.linea_software_box_rectangle:before {
    content: "\eb16";
}
.linea_software_box_roundedrectangle:before {
    content: "\eb17";
}
.linea_software_character:before {
    content: "\eb18";
}
.linea_software_crop:before {
    content: "\eb19";
}
.linea_software_eyedropper:before {
    content: "\eb1a";
}
.linea_software_font_allcaps:before {
    content: "\eb1b";
}
.linea_software_font_baseline_shift:before {
    content: "\eb1c";
}
.linea_software_font_horizontal_scale:before {
    content: "\eb1d";
}
.linea_software_font_kerning:before {
    content: "\eb1e";
}
.linea_software_font_leading:before {
    content: "\eb1f";
}
.linea_software_font_size:before {
    content: "\eb20";
}
.linea_software_font_smallcapital:before {
    content: "\eb21";
}
.linea_software_font_smallcaps:before {
    content: "\eb22";
}
.linea_software_font_strikethrough:before {
    content: "\eb23";
}
.linea_software_font_tracking:before {
    content: "\eb24";
}
.linea_software_font_underline:before {
    content: "\eb25";
}
.linea_software_font_vertical_scale:before {
    content: "\eb26";
}
.linea_software_horizontal_align_center:before {
    content: "\eb27";
}
.linea_software_horizontal_align_right:before {
    content: "\eb28";
}
.linea_software_horizontal_distribute_center:before {
    content: "\eb29";
}
.linea_software_horizontal_distribute_left:before {
    content: "\eb2a";
}
.linea_software_horizontal_distribute_right:before {
    content: "\eb2b";
}
.linea_software_indent_firstline:before {
    content: "\eb2c";
}
.linea_software_indent_left:before {
    content: "\eb2d";
}
.linea_software_indent_right:before {
    content: "\eb2e";
}
.linea_software_lasso:before {
    content: "\eb2f";
}
.linea_software_layers1:before {
    content: "\eb30";
}
.linea_software_layers2:before {
    content: "\eb31";
}
.linea_software_layout_2columns:before {
    content: "\eb32";
}
.linea_software_layout_3columns:before {
    content: "\eb33";
}
.linea_software_layout_4boxes:before {
    content: "\eb34";
}
.linea_software_layout_4columns:before {
    content: "\eb35";
}
.linea_software_layout_4lines:before {
    content: "\eb36";
}
.linea_software_layout_header_2columns:before {
    content: "\eb37";
}
.linea_software_layout_header_3columns:before {
    content: "\eb38";
}
.linea_software_layout_header_4boxes:before {
    content: "\eb39";
}
.linea_software_layout_header_4columns:before {
    content: "\eb3a";
}
.linea_software_layout_header_complex:before {
    content: "\eb3b";
}
.linea_software_layout_header_complex2:before {
    content: "\eb3c";
}
.linea_software_layout_header_complex3:before {
    content: "\eb3d";
}
.linea_software_layout_header_complex4:before {
    content: "\eb3e";
}
.linea_software_layout_header_sideleft:before {
    content: "\eb3f";
}
.linea_software_layout_header_sideright:before {
    content: "\eb40";
}
.linea_software_layout_header:before {
    content: "\eb41";
}
.linea_software_layout_sidebar_left:before {
    content: "\eb42";
}
.linea_software_layout_sidebar_right:before {
    content: "\eb43";
}
.linea_software_layout-8boxes:before {
    content: "\eb44";
}
.linea_software_layout:before {
    content: "\eb45";
}
.linea_software_magnete:before {
    content: "\eb46";
}
.linea_software_pages:before {
    content: "\eb47";
}
.linea_software_paintbrush:before {
    content: "\eb48";
}
.linea_software_paintbucket:before {
    content: "\eb49";
}
.linea_software_paintroller:before {
    content: "\eb4a";
}
.linea_software_paragraph_align_left:before {
    content: "\eb4b";
}
.linea_software_paragraph_align_right:before {
    content: "\eb4c";
}
.linea_software_paragraph_center:before {
    content: "\eb4d";
}
.linea_software_paragraph_justify_all:before {
    content: "\eb4e";
}
.linea_software_paragraph_justify_center:before {
    content: "\eb4f";
}
.linea_software_paragraph_justify_left:before {
    content: "\eb50";
}
.linea_software_paragraph_justify_right:before {
    content: "\eb51";
}
.linea_software_paragraph_space_after:before {
    content: "\eb52";
}
.linea_software_paragraph_space_before:before {
    content: "\eb53";
}
.linea_software_paragraph:before {
    content: "\eb54";
}
.linea_software_pathfinder_exclude:before {
    content: "\eb55";
}
.linea_software_pathfinder_intersect:before {
    content: "\eb56";
}
.linea_software_pathfinder_subtract:before {
    content: "\eb57";
}
.linea_software_pathfinder_unite:before {
    content: "\eb58";
}
.linea_software_pen_add:before {
    content: "\eb59";
}
.linea_software_pen_remove:before {
    content: "\eb5a";
}
.linea_software_pen:before {
    content: "\eb5b";
}
.linea_software_pencil:before {
    content: "\eb5c";
}
.linea_software_polygonallasso:before {
    content: "\eb5d";
}
.linea_software_reflect_horizontal:before {
    content: "\eb5e";
}
.linea_software_reflect_vertical:before {
    content: "\eb5f";
}
.linea_software_remove_vectorpoint:before {
    content: "\eb60";
}
.linea_software_scale_expand:before {
    content: "\eb61";
}
.linea_software_scale_reduce:before {
    content: "\eb62";
}
.linea_software_selection_oval:before {
    content: "\eb63";
}
.linea_software_selection_polygon:before {
    content: "\eb64";
}
.linea_software_selection_rectangle:before {
    content: "\eb65";
}
.linea_software_selection_roundedrectangle:before {
    content: "\eb66";
}
.linea_software_shape_oval:before {
    content: "\eb67";
}
.linea_software_shape_polygon:before {
    content: "\eb68";
}
.linea_software_shape_rectangle:before {
    content: "\eb69";
}
.linea_software_shape_roundedrectangle:before {
    content: "\eb6a";
}
.linea_software_slice:before {
    content: "\eb6b";
}
.linea_software_transform_bezier:before {
    content: "\eb6c";
}
.linea_software_vector_box:before {
    content: "\eb6d";
}
.linea_software_vector_composite:before {
    content: "\eb6e";
}
.linea_software_vector_line:before {
    content: "\eb6f";
}
.linea_software_vertical_align_bottom:before {
    content: "\eb70";
}
.linea_software_vertical_align_center:before {
    content: "\eb71";
}
.linea_software_vertical_align_top:before {
    content: "\eb72";
}
.linea_software_vertical_distribute_bottom:before {
    content: "\eb73";
}
.linea_software_vertical_distribute_center:before {
    content: "\eb74";
}
.linea_software_vertical_distribute_top:before {
    content: "\eb75";
}
.linea_software-horizontal_align_left:before {
    content: "\eb76";
}
.linea_weather_aquarius:before {
    content: "\eb77";
}
.linea_weather_aries:before {
    content: "\eb78";
}
.linea_weather_cancer:before {
    content: "\eb79";
}
.linea_weather_capricorn:before {
    content: "\eb7a";
}
.linea_weather_cloud_drop:before {
    content: "\eb7b";
}
.linea_weather_cloud_lightning:before {
    content: "\eb7c";
}
.linea_weather_cloud_snowflake:before {
    content: "\eb7d";
}
.linea_weather_cloud:before {
    content: "\eb7e";
}
.linea_weather_downpour_fullmoon:before {
    content: "\eb7f";
}
.linea_weather_downpour_halfmoon:before {
    content: "\eb80";
}
.linea_weather_downpour_sun:before {
    content: "\eb81";
}
.linea_weather_drop:before {
    content: "\eb82";
}
.linea_weather_first_quarter:before {
    content: "\eb83";
}
.linea_weather_fog_fullmoon:before {
    content: "\eb84";
}
.linea_weather_fog_halfmoon:before {
    content: "\eb85";
}
.linea_weather_fog_sun:before {
    content: "\eb86";
}
.linea_weather_fog:before {
    content: "\eb87";
}
.linea_weather_fullmoon:before {
    content: "\eb88";
}
.linea_weather_gemini:before {
    content: "\eb89";
}
.linea_weather_hail_fullmoon:before {
    content: "\eb8a";
}
.linea_weather_hail_halfmoon:before {
    content: "\eb8b";
}
.linea_weather_hail_sun:before {
    content: "\eb8c";
}
.linea_weather_hail:before {
    content: "\eb8d";
}
.linea_weather_last_quarter:before {
    content: "\eb8e";
}
.linea_weather_leo:before {
    content: "\eb8f";
}
.linea_weather_libra:before {
    content: "\eb90";
}
.linea_weather_lightning:before {
    content: "\eb91";
}
.linea_weather_mistyrain_fullmoon:before {
    content: "\eb92";
}
.linea_weather_mistyrain_halfmoon:before {
    content: "\eb93";
}
.linea_weather_mistyrain_sun:before {
    content: "\eb94";
}
.linea_weather_mistyrain:before {
    content: "\eb95";
}
.linea_weather_moon:before {
    content: "\eb96";
}
.linea_weather_moondown_full:before {
    content: "\eb97";
}
.linea_weather_moondown_half:before {
    content: "\eb98";
}
.linea_weather_moonset_full:before {
    content: "\eb99";
}
.linea_weather_moonset_half:before {
    content: "\eb9a";
}
.linea_weather_move2:before {
    content: "\eb9b";
}
.linea_weather_newmoon:before {
    content: "\eb9c";
}
.linea_weather_pisces:before {
    content: "\eb9d";
}
.linea_weather_rain_fullmoon:before {
    content: "\eb9e";
}
.linea_weather_rain_halfmoon:before {
    content: "\eb9f";
}
.linea_weather_rain_sun:before {
    content: "\eba0";
}
.linea_weather_rain:before {
    content: "\eba1";
}
.linea_weather_sagittarius:before {
    content: "\eba2";
}
.linea_weather_scorpio:before {
    content: "\eba3";
}
.linea_weather_snow_fullmoon:before {
    content: "\eba4";
}
.linea_weather_snow_halfmoon:before {
    content: "\eba5";
}
.linea_weather_snow_sun:before {
    content: "\eba6";
}
.linea_weather_snow:before {
    content: "\eba7";
}
.linea_weather_snowflake:before {
    content: "\eba8";
}
.linea_weather_star:before {
    content: "\eba9";
}
.linea_weather_storm_fullmoon:before {
    content: "\ebaa";
}
.linea_weather_storm_halfmoon:before {
    content: "\ebab";
}
.linea_weather_storm_sun:before {
    content: "\ebac";
}
.linea_weather_storm-11:before {
    content: "\ebad";
}
.linea_weather_storm-32:before {
    content: "\ebae";
}
.linea_weather_sun:before {
    content: "\ebaf";
}
.linea_weather_sundown:before {
    content: "\ebb0";
}
.linea_weather_sunset:before {
    content: "\ebb1";
}
.linea_weather_taurus:before {
    content: "\ebb2";
}
.linea_weather_tempest_fullmoon:before {
    content: "\ebb3";
}
.linea_weather_tempest_halfmoon:before {
    content: "\ebb4";
}
.linea_weather_tempest_sun:before {
    content: "\ebb5";
}
.linea_weather_tempest:before {
    content: "\ebb6";
}
.linea_weather_variable_fullmoon:before {
    content: "\ebb7";
}
.linea_weather_variable_halfmoon:before {
    content: "\ebb8";
}
.linea_weather_variable_sun:before {
    content: "\ebb9";
}
.linea_weather_virgo:before {
    content: "\ebba";
}
.linea_weather_waning_cresent:before {
    content: "\ebbb";
}
.linea_weather_waning_gibbous:before {
    content: "\ebbc";
}
.linea_weather_waxing_cresent:before {
    content: "\ebbd";
}
.linea_weather_waxing_gibbous:before {
    content: "\ebbe";
}
.linea_weather_wind_E:before {
    content: "\ebbf";
}
.linea_weather_wind_fullmoon:before {
    content: "\ebc0";
}
.linea_weather_wind_halfmoon:before {
    content: "\ebc1";
}
.linea_weather_wind_N:before {
    content: "\ebc2";
}
.linea_weather_wind_NE:before {
    content: "\ebc3";
}
.linea_weather_wind_NW:before {
    content: "\ebc4";
}
.linea_weather_wind_S:before {
    content: "\ebc5";
}
.linea_weather_wind_SE:before {
    content: "\ebc6";
}
.linea_weather_wind_sun:before {
    content: "\ebc7";
}
.linea_weather_wind_SW:before {
    content: "\ebc8";
}
.linea_weather_wind_W:before {
    content: "\ebc9";
}
.linea_weather_wind:before {
    content: "\ebca";
}
.linea_weather_windgust:before {
    content: "\ebcb";
}

