@font-face {
    font-family: 'StreamlineFree';
    src:    url('fonts/StreamlineFree.eot?wuz1pn');
    src:    url('fonts/StreamlineFree.eot?wuz1pn#iefix') format('embedded-opentype'),
        url('fonts/StreamlineFree.ttf?wuz1pn') format('truetype'),
        url('fonts/StreamlineFree.woff?wuz1pn') format('woff'),
        url('fonts/StreamlineFree.svg?wuz1pn#StreamlineFree') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sf-"], [class*=" sf-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'StreamlineFree' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sf-backpack:before {
    content: "\e900";
}
.sf-bomb:before {
    content: "\e901";
}
.sf-book:before {
    content: "\e902";
}
.sf-briefcase:before {
    content: "\e903";
}
.sf-bubble-chat:before {
    content: "\e904";
}
.sf-bubble-heart:before {
    content: "\e905";
}
.sf-camera-photo:before {
    content: "\e906";
}
.sf-camera-polaroid:before {
    content: "\e907";
}
.sf-camera-video:before {
    content: "\e908";
}
.sf-cassette-player:before {
    content: "\e909";
}
.sf-charlie-chaplin:before {
    content: "\e90a";
}
.sf-chef-hat:before {
    content: "\e90b";
}
.sf-clock:before {
    content: "\e90c";
}
.sf-coffee-machine:before {
    content: "\e90d";
}
.sf-cog:before {
    content: "\e90e";
}
.sf-computer-imac:before {
    content: "\e90f";
}
.sf-computer-network:before {
    content: "\e910";
}
.sf-computer-pc:before {
    content: "\e911";
}
.sf-computer-screen-1:before {
    content: "\e912";
}
.sf-computer-screen-2:before {
    content: "\e913";
}
.sf-contact-book:before {
    content: "\e914";
}
.sf-content-download:before {
    content: "\e915";
}
.sf-cooking-pot:before {
    content: "\e916";
}
.sf-crop:before {
    content: "\e917";
}
.sf-crown:before {
    content: "\e918";
}
.sf-designer-cup:before {
    content: "\e919";
}
.sf-diving-gear:before {
    content: "\e91a";
}
.sf-drink-cocktail:before {
    content: "\e91b";
}
.sf-drink-coffee:before {
    content: "\e91c";
}
.sf-e-mail:before {
    content: "\e91d";
}
.sf-envelope:before {
    content: "\e91e";
}
.sf-eyedropper:before {
    content: "\e91f";
}
.sf-fork-knife:before {
    content: "\e920";
}
.sf-forklift:before {
    content: "\e921";
}
.sf-fountain-pen-head-1:before {
    content: "\e922";
}
.sf-fountain-pen-head-2:before {
    content: "\e923";
}
.sf-gauge:before {
    content: "\e924";
}
.sf-globe:before {
    content: "\e925";
}
.sf-grid:before {
    content: "\e926";
}
.sf-griller:before {
    content: "\e927";
}
.sf-handbag:before {
    content: "\e928";
}
.sf-headphone:before {
    content: "\e929";
}
.sf-heart:before {
    content: "\e92a";
}
.sf-home:before {
    content: "\e92b";
}
.sf-hotdog:before {
    content: "\e92c";
}
.sf-icecream:before {
    content: "\e92d";
}
.sf-image:before {
    content: "\e92e";
}
.sf-iphone:before {
    content: "\e92f";
}
.sf-ipod:before {
    content: "\e930";
}
.sf-layers-image:before {
    content: "\e931";
}
.sf-layers:before {
    content: "\e932";
}
.sf-link:before {
    content: "\e933";
}
.sf-location-pin:before {
    content: "\e934";
}
.sf-location-user:before {
    content: "\e935";
}
.sf-lock-locked:before {
    content: "\e936";
}
.sf-lock-unlocked:before {
    content: "\e937";
}
.sf-magic-wand:before {
    content: "\e938";
}
.sf-magnet:before {
    content: "\e939";
}
.sf-microphone:before {
    content: "\e93a";
}
.sf-monocle:before {
    content: "\e93b";
}
.sf-mp3-player:before {
    content: "\e93c";
}
.sf-music-note:before {
    content: "\e93d";
}
.sf-notebook-1:before {
    content: "\e93e";
}
.sf-notebook-2:before {
    content: "\e93f";
}
.sf-paint-brush:before {
    content: "\e940";
}
.sf-paint-bucket:before {
    content: "\e941";
}
.sf-paint-palette:before {
    content: "\e942";
}
.sf-paint-roller:before {
    content: "\e943";
}
.sf-pen-fountain:before {
    content: "\e944";
}
.sf-pen-point-tip:before {
    content: "\e945";
}
.sf-pencil-ruler:before {
    content: "\e946";
}
.sf-picture-frame:before {
    content: "\e947";
}
.sf-quill-ink:before {
    content: "\e948";
}
.sf-refresh:before {
    content: "\e949";
}
.sf-remote-control-hand:before {
    content: "\e94a";
}
.sf-remote-control-screen:before {
    content: "\e94b";
}
.sf-script:before {
    content: "\e94c";
}
.sf-server:before {
    content: "\e94d";
}
.sf-settings:before {
    content: "\e94e";
}
.sf-shield-cross:before {
    content: "\e94f";
}
.sf-shopping-cart-add:before {
    content: "\e950";
}
.sf-shopping-cart-remove:before {
    content: "\e951";
}
.sf-skull:before {
    content: "\e952";
}
.sf-smart-device:before {
    content: "\e953";
}
.sf-smiley:before {
    content: "\e954";
}
.sf-sneakers:before {
    content: "\e955";
}
.sf-sofa:before {
    content: "\e956";
}
.sf-stamp:before {
    content: "\e957";
}
.sf-sub-woofer:before {
    content: "\e958";
}
.sf-syringe:before {
    content: "\e959";
}
.sf-target:before {
    content: "\e95a";
}
.sf-teapot:before {
    content: "\e95b";
}
.sf-trash-can:before {
    content: "\e95c";
}
.sf-umbrella:before {
    content: "\e95d";
}
.sf-user-chat:before {
    content: "\e95e";
}
.sf-user:before {
    content: "\e95f";
}
.sf-vector:before {
    content: "\e960";
}
.sf-windows:before {
    content: "\e961";
}
.sf-wrenches:before {
    content: "\e962";
}
.sf-write:before {
    content: "\e963";
}

