.ls-table { content: "\e127"; }
.ls-copy { content: "\e038"; }
.ls-cut { content: "\e03b"; }
.ls-backspace { content: "\e010"; }
.ls-alignleft { content: "\e005"; }
.ls-aligncenter { content: "\e004"; }
.ls-alignright { content: "\e006"; }
.ls-alignadjust { content: "\e003"; }
.ls-italic { content: "\e079"; }
.ls-bold { content: "\e01f"; }
.ls-underline { content: "\e132"; }
.ls-strike { content: "\e159"; }
.ls-emphasis { content: "\e152"; }
.ls-code { content: "\e032"; }
.ls-link { content: "\e082"; }
.ls-quote { content: "\e10b"; }
.ls-graph { content: "\e05b"; }
.ls-magic { content: "\e089"; }
.ls-brush { content: "\e022"; }
.ls-color { content: "\e033"; }
.ls-contrast { content: "\e001"; }
.ls-ink { content: "\e14a"; }
.ls-gradation { content: "\e149"; }
.ls-sepia { content: "\e14e"; }
.ls-invert { content: "\e14b"; }
.ls-paint { content: "\e09b"; }
.ls-paramater { content: "\e09c"; }
.ls-crop { content: "\e039"; }
.ls-check { content: "\e029"; }
.ls-checkbox { content: "\e02a"; }
.ls-checkboxempty { content: "\e02b"; }
.ls-pc { content: "\e09e"; }
.ls-keyboard { content: "\e07d"; }
.ls-mobile { content: "\e078"; }
.ls-horizontal { content: "\e071"; }
.ls-vertical { content: "\e138"; }
.ls-web { content: "\e13f"; }
.ls-mail { content: "\e08a"; }
.ls-shopping { content: "\e119"; }
.ls-dashboard { content: "\e03c"; }
.ls-key { content: "\e07c"; }
.ls-sns { content: "\e11f"; }
.ls-calendar { content: "\e15e"; }
.ls-dailycalendar { content: "\e025"; }
.ls-ban { content: "\e012"; }
.ls-remove { content: "\e10f"; }
.ls-pen { content: "\e09f"; }
.ls-eraser { content: "\e148"; }
.ls-edit { content: "\e041"; }
.ls-tabs { content: "\e095"; }
.ls-tag { content: "\e128"; }
.ls-setup { content: "\e117"; }
.ls-setting { content: "\e055"; }
.ls-etc { content: "\e043"; }
.ls-clip { content: "\e030"; }
.ls-bookmark { content: "\e021"; }
.ls-book { content: "\e020"; }
.ls-album { content: "\e002"; }
.ls-user { content: "\e137"; }
.ls-friend { content: "\e051"; }
.ls-group { content: "\e05c"; }
.ls-frustrate { content: "\e052"; }
.ls-laugh { content: "\e07f"; }
.ls-wink { content: "\e081"; }
.ls-smile { content: "\e11e"; }
.ls-surprise { content: "\e124"; }
.ls-trouble { content: "\e12d"; }
.ls-male { content: "\e176"; }
.ls-female { content: "\e175"; }
.ls-game { content: "\e054"; }
.ls-globe { content: "\e058"; }
.ls-home { content: "\e072"; }
.ls-building { content: "\e023"; }
.ls-rss { content: "\e113"; }
.ls-server { content: "\e16c"; }
.ls-sitemap { content: "\e16d"; }
.ls-app { content: "\e009"; }
.ls-memo { content: "\e08d"; }
.ls-meal { content: "\e08c"; }
.ls-coffee { content: "\e146"; }
.ls-spa { content: "\e177"; }
.ls-college { content: "\e174"; }
.ls-bag { content: "\e173"; }
.ls-present { content: "\e109"; }
.ls-umbrella { content: "\e178"; }
.ls-twinkle { content: "\e073"; }
.ls-crown { content: "\e03a"; }
.ls-category { content: "\e028"; }
.ls-circle { content: "\e02e"; }
.ls-info { content: "\e075"; }
.ls-help { content: "\e070"; }
.ls-refreshbutton { content: "\e14d"; }
.ls-terminal { content: "\e16e"; }
.ls-file { content: "\e048"; }
.ls-print { content: "\e10a"; }
.ls-delete { content: "\e12c"; }
.ls-clear { content: "\e02f"; }
.ls-save { content: "\e115"; }
.ls-upload { content: "\e136"; }
.ls-cloud { content: "\e031"; }
.ls-folder { content: "\e04c"; }
.ls-camera { content: "\e026"; }
.ls-photo { content: "\e101"; }
.ls-image { content: "\e074"; }
.ls-barcode { content: "\e013"; }
.ls-phone { content: "\e100"; }
.ls-music { content: "\e094"; }
.ls-video { content: "\e139"; }
.ls-playmedia { content: "\e107"; }
.ls-record { content: "\e10d"; }
.ls-play { content: "\e106"; }
.ls-pause { content: "\e09d"; }
.ls-stop { content: "\e123"; }
.ls-eject { content: "\e042"; }
.ls-bell { content: "\e014"; }
.ls-volumeup { content: "\e13d"; }
.ls-volumedown { content: "\e13c"; }
.ls-volume { content: "\e13b"; }
.ls-off { content: "\e098"; }
.ls-light { content: "\e14c"; }
.ls-dark { content: "\e147"; }
.ls-lock { content: "\e086"; }
.ls-unlock { content: "\e134"; }
.ls-flag { content: "\e04a"; }
.ls-wifi { content: "\e140"; }
.ls-time { content: "\e12b"; }
.ls-map { content: "\e08b"; }
.ls-geo { content: "\e056"; }
.ls-location { content: "\e085"; }
.ls-pin { content: "\e103"; }
.ls-walking { content: "\e13e"; }
.ls-bicycle { content: "\e015"; }
.ls-car { content: "\e027"; }
.ls-bus { content: "\e024"; }
.ls-plane { content: "\e105"; }
.ls-compass { content: "\e036"; }
.ls-cursor { content: "\e166"; }
.ls-pointer { content: "\e16b"; }
.ls-grab { content: "\e169"; }
.ls-arrowup { content: "\e00e"; }
.ls-arrowright { content: "\e00d"; }
.ls-arrowdown { content: "\e00b"; }
.ls-arrowleft { content: "\e00c"; }
.ls-up { content: "\e135"; }
.ls-right { content: "\e112"; }
.ls-down { content: "\e03e"; }
.ls-left { content: "\e080"; }
.ls-back { content: "\e00f"; }
.ls-next { content: "\e096"; }
.ls-dropdown { content: "\e040"; }
.ls-sort { content: "\e120"; }
.ls-good { content: "\e059"; }
.ls-bad { content: "\e011"; }
.ls-full { content: "\e053"; }
.ls-small { content: "\e11d"; }
.ls-move { content: "\e093"; }
.ls-undo { content: "\e133"; }
.ls-forward { content: "\e04e"; }
.ls-reply { content: "\e111"; }
.ls-share { content: "\e118"; }
.ls-login { content: "\e087"; }
.ls-logout { content: "\e088"; }
.ls-exchange { content: "\e045"; }
.ls-shuffle { content: "\e11a"; }
.ls-repeat { content: "\e110"; }
.ls-refresh { content: "\e10e"; }
.ls-sync { content: "\e125"; }
.ls-external { content: "\e046"; }
.ls-addstar { content: "\e000"; }
.ls-star { content: "\e121"; }
.ls-starempty { content: "\e122"; }
.ls-heart { content: "\e06e"; }
.ls-heartempty { content: "\e06f"; }
.ls-view { content: "\e13a"; }
.ls-comment { content: "\e034"; }
.ls-comments { content: "\e035"; }
.ls-plus { content: "\e108"; }
.ls-minus { content: "\e08f"; }
.ls-zoomin { content: "\e142"; }
.ls-zoomout { content: "\e143"; }
.ls-search { content: "\e116"; }
.ls-menu { content: "\e08e"; }
.ls-tilemenu { content: "\e12a"; }
.ls-list { content: "\e084"; }
.ls-tile { content: "\e129"; }
.ls-notify { content: "\e097"; }
.ls-apple { content: "\e00a"; }
.ls-android { content: "\e008"; }
.ls-windows { content: "\e151"; }
.ls-ubuntu { content: "\e17b"; }
.ls-amazon { content: "\e007"; }
.ls-facebook { content: "\e047"; }
.ls-twitter { content: "\e12f"; }
.ls-vk { content: "\e17c"; }
.ls-google { content: "\e05a"; }
.ls-yahoo { content: "\e172"; }
.ls-bing { content: "\e164"; }
.ls-hatena { content: "\e05d"; }
.ls-hatenabookmark { content: "\e161"; }
.ls-digg { content: "\e167"; }
.ls-linkedin { content: "\e083"; }
.ls-myspace { content: "\e16a"; }
.ls-paperboy { content: "\e162"; }
.ls-mixi { content: "\e090"; }
.ls-line { content: "\e157"; }
.ls-mobage { content: "\e158"; }
.ls-gree { content: "\e153"; }
.ls-skype { content: "\e11b"; }
.ls-aim { content: "\e163"; }
.ls-yelp { content: "\e17d"; }
.ls-foursquare { content: "\e04d"; }
.ls-pinterest { content: "\e104"; }
.ls-flickr { content: "\e04b"; }
.ls-tumblr { content: "\e12e"; }
.ls-wordpress { content: "\e171"; }
.ls-blogger { content: "\e165"; }
.ls-evernote { content: "\e044"; }
.ls-dropbox { content: "\e168"; }
.ls-slideshare { content: "\e179"; }
.ls-github { content: "\e057"; }
.ls-yapcasialogomark { content: "\e15c"; }
.ls-dribbble { content: "\e03f"; }
.ls-cookpad { content: "\e037"; }
.ls-instapaper { content: "\e076"; }
.ls-readability { content: "\e10c"; }
.ls-gumroad { content: "\e154"; }
.ls-picasa { content: "\e102"; }
.ls-instagram { content: "\e155"; }
.ls-delicious { content: "\e03d"; }
.ls-youtube { content: "\e141"; }
.ls-vimeo { content: "\e170"; }
.ls-ustream { content: "\e16f"; }
.ls-soundcloud { content: "\e17a"; }
.ls-chrome { content: "\e02c"; }
.ls-safari { content: "\e114"; }
.ls-sleipnir { content: "\e11c"; }
.ls-firefox { content: "\e049"; }
.ls-opera { content: "\e099"; }
.ls-internetexplorer { content: "\e077"; }
